@import '~vuetify/src/styles/styles.sass';

$font-size-root: 20px;

$color--menu--text-hover: #ebcd84;
$color--menu--text: #fff;
$color--description: #5a5a5a;

$color--black: #000000;

$color-bg--card-opacity: #42424287;
